<div>
  <h1 i18n>
    How to Implement Angular Localization
  </h1>
  <p i18n>We need to add i8n attribute to the tag that have the sentences we need to translate</p>
  <p i18n="@@translatedSentence">We recommend to use id by adding a value to the attribute i18n  "&#64;&#64;ID" (the ID doesn't have to be the same as the translated sentence)</p>
  <p i18n="@@SomeTimesWeNeedTranslateValues">Sometimes we need to translate some values of attributes like the title and the alt of an image's tag or the placeholder of an input field</p>
  <img src="./assets/avatar2.png" alt="person" title="person" i18n-alt="@@person" i18n-title="@@person">
  <input type="text" placeholder="Write here" i18n-placeholder="@@writeHere">
  <p i18n="@@SomeTimesWeNeedTranslatePart">Sometimes we need translate part of sentences in tag, it this time we can use ng-container tag</p>
  <p>180 <ng-container i18n="EGP">EGP</ng-container></p>
  <p>{{text}}</p>
  <p class="important-note" i18n="@@importantNote">Do not use relative paths instead, use absolute paths that start from the root directory in angular</p>
  <p i18n="@@WhyAbsolutePath">Sometimes After building project, the images, videos and so on call with Relative Paths do not work</p>
  <p>relative path</p>
  <img src="../assets/avatar2.png" alt="person" title="person" i18n-alt="@@person" i18n-title="@@person">
  <p>absolute path</p>
  <img src="./assets/avatar2.png" alt="person" title="person" i18n-alt="@@person" i18n-title="@@person">
  <p>Run " ng extract-i18n --format=json " in terminal <ng-container i18n>To create source language file in the root directory of your project</ng-container></p>
  <p>Create a locale directory and set it in src directory</p>
  <p>Copy the source language file and paste it at locale directory </p>
  <p>Rename it to messages.languageName.json for example messages.ar.json</p>
  <p>In this repo i rename it to main.ar.json it not problem to change it as you went</p>
  <p>In main.ar.json you will find the IDs you added before in attribute i18n you need after that change value of this IDs to translated of sentences</p>
  <p>After that write in angular.json this code in projects object</p>
  <pre>
    //In Object that have the same name of project
    "localize": &#123;
      .
      .
      "i18n": &#123;
      //Here we write the name of the original language of web site
        "sourceLocale":"en-US",
        "locales": &#123;
          //Here we set the name of language
          "ar":&#123;
            //Here we write the path of the translated file of this language
            "translation": "src/locale/main.ar.json",
            //Here we set the domain name to access the translated server
            "baseHref": "ar/"
          &#125;
          //Here we can set more languages 
        &#125;
      &#125;,
      .
      .
    &#125;
  </pre>
  <p>In the last step you need to build project use " ng build --localize "</p>
  <p>this cmd will give you in dist directory, directory for every language you add in angular.json</p>
</div>