p{
    font-size: 20px;
}
input{
    margin-top: 20px;
    width: 300px;
    height: 40px;
    display: block;
}
.important-note{
    font-weight: 700;
    color: red;
}
img{
    height: 100px;
}
pre{
    font-size: 18px;
}